<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="vizuri-icon-blue.png">
<title>BPMS Process Flow Tracker</title>
<link href="lib/css/bootstrap.css" rel="stylesheet">
<link href="lib/css/bootstrap-theme.css" rel="stylesheet">

<style type="text/css">
	#image {
		height: 425px;
		width: 775px;
		overflow: hidden;
		padding-top: 20px;
		float: left;
	}
	
	#comments {
		width: 500px;
		float: left;
	}
	
	.form-group {
		margin-left: 20px;
	}
	
	.img-wrapper {
		width: 150px;
		float: left;
	}
	
	.img-rounded {
		padding-top: 15px;
	}
	
	.img-rounded:hover {
	    position:relative;
	    top:-25px;
	    left:-35px;
	    width:500px;
	    height:auto;
	    display:block;
	    z-index:999;
	}

</style>
</head>
<body ng-app="bpmsFlowApp">
	<div ng-controller="MainController as vm" ng-clock>
		<br>
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">BPM Suite Process Instance Tracker</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<form class="form-inline">
							<div class="form-group">
								<label for="pId">Process Id</label> <input type="text" class="form-control" id="pId" placeholder="1" size="5" ng-model="vm.processId">&nbsp;
								<label for="pContainerId">Container Id</label> <input type="text" class="form-control" id="pContainerId" placeholder="IncidentProcessorContainer" size="25" ng-model="vm.containerId">&nbsp;
								<button class="btn btn-default" ng-click="vm.load()">Update</button>
								 &nbsp; &nbsp;<input type="checkbox" class="form-control" p="pAutoUpdate" ng-model="vm.autoUpdate" /> &nbsp; <label for="pAutoUpdate">Auto Update?</label>  <span ng-show="vm.autoUpdate">({{20 - vm.updateCount}} remaining)</span>
								 &nbsp; &nbsp;<button class="btn btn-default" ng-click="vm.approve()" ng-disabled="!vm.completed">Approve</button>
								 &nbsp; &nbsp;<input type="checkbox" class="form-control" id="pRemediationAccepted" ng-model="vm.remediationAccepted" ng-disabled="!vm.completed" /> &nbsp; <label for="pRemediationAccepted">Accepted?</label>
								 &nbsp; &nbsp;<input type="text" class="form-control" id="pApprovalComments" size="25" ng-model="vm.approvalComments" ng-disabled="!vm.completed" placeholder="Approval Comments" />
							</div>
						</form>
					</div>
					<div class="row">
						<div id="image"><br /></div>
					
						<div id="comments">
							<h3>Comments</h3>
							<ul class="list-group">
								<li ng-repeat="comment in vm.comments track by $index" class="list-group-item">{{comment}}</li>
							</ul>
							<div ng-if="vm.comments.length < 1"><i>No comments added.</i></div>
						</div>
					</div>
					<div class="row" style="padding-bottom: 50px; padding-left: 100px">
						<div><h3>Photo Thumbnails</h3></div>
						<div id="gallery">
							<div ng-repeat="photo in vm.photos track by $index" class="img-wrapper">
								<a target="_blank" href="{{photo}}"><img  class="img-rounded" ng-src="{{photo}}" height="100px" style="padding-left: 20px;"></a>
							</div>
						</div>
						
						<div ng-if="vm.photos.length < 1"><i>No photos uploaded.</i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="lib/js/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>