body {
	/*    width: 640px;
    height: 1136px;*/
	font-family: OS-Light;
}

#app {
	width: inherit;
	height: inherit;
}

#example {
	width: 80%;
	height: 470px;
	position: absolute;
	top: 11%;
	left: 10%;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.center>h3 {
	color: #ffffff;
	letter-spacing: 2px;
	font-family: OS-Light;
	font-size: 1.5em;
	text-align: center;
	width: 100%;
	display: inline;
}

.center>h4 {
	color: #ffffff;
	letter-spacing: 2px;
	font-family: OS-Light;
	font-size: 1.0em;
	text-align: center;
	width: 100%;
	display: inline;
}

.center>h3>small {
	color: #ffffff;
	letter-spacing: 2px;
	font-family: OS-Light;
}

.header-footer-bg {
	background-color: #7ea1b6;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	color: #ffffff;
}

footer>div>small {
	padding-top: 8px;
	padding-right: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

.hello-result {
	margin: 20px 0px 0px 0px;
	font-size: 2em;
}
/*
 *  CUSTOM STYLING
 */
#description {
	text-align: justify;
	position: relative;
	padding-top: 20%;
	padding-bottom: 10%;
}

.input-group {
	display: block;
}