<ion-view> <ion-content overflow-scroll="true">
<div class="item item-body center" id="landing-page">
	<br /><br />
	<img src="views/components/Vizuri_main_logo_white.png"><br />
	<p>Mobilizing and Securing Red Hat JBoss BPM Suite and BRMS</p>
	<img src="views/components/redhat_logo.png"><br /><br />
	<img src="views/components/3scale-logo-red-hat-small.png"><br />
	<p>Reporter Application</p>
	<p>
		<a class="button button-dark" href="#/claims">Get Started</a>
	</p>
</div>
</ion-content> </ion-view>
